body{
    margin: 0;
    display: block;
    background-image: url("snowytrees.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'robotobold', sans-serif;
}
header{
    position: fixed;
    width: 100%;
    top: 0;
}
ul.topnav, ul.botnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li, ul.botnav li {float: left;}
ul.topnav li a, ul.botnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.botnav li a:hover:not(.active) {background-color: #111;}
.sections{
    width: 100%;
    height: 75px;
    background-color: white;
}
#bodDiv{
    margin-left: 3%;
    margin-right: 3%;
    background-color:rgba(black, black, black, 0.9);
}
h1{
    font-size: 5em;
}
#sect1Div{
    padding-top: 2%;
    height: 20%;
    width: 100%;
    color: white;
    text-align: center;
}
#sect2Div{
     padding-top: 3%;
}
#sect2Div, #sect3Div{
    
    background-color: white;
    color: #000;
    height: 30%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    padding-top: 3%;
   
}
.portBod{
    margin:5%;
}
#gallerySect {
    margin-top: 5%;
    margin-left: 3%;
    margin-right: 3%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px;
    flex-wrap: wrap;
    align-items: center;
}

.gallDiv{
    background-color:white;
    align-items: center;
    text-align: center;
    
    
}
img{
    max-width:100%;
    max-height:100%;
}
.portrait{
    width:350px;
    height: 400px;
}
.landscape{
    width: 400px;
    height: 350px;
}
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

textarea{
    resize: none; 
}
textarea::placeholder, input::placeholder{
    color: gray;
}
input:focus, select:focus, textarea:focus  {
    outline: none;
}
input, textarea{
    width:80%;
}
#contactSect {
    margin-left: auto;
    margin-right: auto;
    padding: 1em;
    font-family:  'robotobold', sans-serif;
}
input, select, textarea {
    width: 85%;
    box-sizing: border-box;
    font-family:  'robotobold', sans-serif;
    border: 2px #7c93b7 solid;
    border-radius: 5px;
    padding: 0.5em;
    color: #7c93b7;
    margin: 2px 0px 10px 0px;
}
textarea {
    height: 150px;
    resize: none;  
}
input[type="submit"]:hover {
    color: white;
    background: lightblue;
}
footer{
      position: fixed;
      bottom: 0;
      width: 100%;
}
@media only screen and (max-width: 768px) {
    h1{
        font-size: 3em;
    }
    #sect2Div, #sect3Div{
        font-size: 12px;

    }
    body{
        margin-top: 5%;
        margin-bottom: 25%;
    }
   .landscape{
       width: 330;
       height: 290;
   }
    .portBod{
        margin-left: 0;
        margin-right: 0;
        margin-top: 15%;
        margin-bottom: 15%;
    }
    #gallerySect{
        margin-left: 0;
        margin-right: 0;
        padding: 0;
    }
    .contactBod{
        margin-top: 15%;
        margin-bottom: 25%;
    }

}