body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
ul.topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
ul.topnav li {float: left;}
ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul.topnav li a:hover:not(.active) {background-color: #111;}
ul.topnav li.right {float: right;}
#sect1{
    background-color: rgb(200, 200, 200);
    height: auto;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
#textDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    height: 30%;
    width: 50%;
    margin: -15% 0 0 -25%;
}
.button:hover{
    background: rgb(150, 150, 150);
    transition: opacity 2s ease-in
}
.button{
    background-color: rgb(225, 225, 225);
    border-style: solid;
    border-color: black;
    text-decoration-line: none;
    color: black;
    border-radius: 3px;
    padding-left: 15px;
    padding-right: 15px;
}
@media screen and (max-width: 768px){
    ul.topnav li.right, 
    ul.topnav li {float: none;}
    .flex-container{
        flex-wrap: wrap;
    }
    body{
        font-size: 12px;
    }
    h2{
        font-size: 16px;
    }
    .button{
        width: auto;
        padding-left: 0;
        padding-right: 0;
    }
    }
    
    #textDiv{
        position: relative;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 50%;
        margin: auto;
    }
    #sect2{
        background-color: white;
        color: black;
        padding: 20px;
        text-align: center;
        position: relative;
    }
    .flex-container {
        margin-left: 5%;
        margin-right: 5%;
        display: flex;
        height: auto;
        flex-direction: inherit;
        text-align: center;
        justify-content: space-around;
    }
    .divFlex{
        margin-bottom: 20px;
    }
