body{
    text-align: center;
    background-image: url("milky-way-2695569_1920.jpg");
    overflow: hidden;
}
header{
    font-size: 60pt;
    font-family: 'Ubuntu', sans-serif;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
p1{
    color: aliceblue;
}
@keyframes play {
    0%   {background-position: 0px;}
    100% {background-position: -1800px;}
    
   
}
#div1{
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: url('venus.jpg') left, center;
    animation: play 15s infinite;
    
    
}