body{
    text-align: center;
    background-image: url("milky-way-2695569_1920.jpg");
    overflow: hidden;
}
header{
    font-size: 60pt;
    font-family: 'Ubuntu', sans-serif;
    background: -webkit-linear-gradient(red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
#sect1{
    width: auto;
    height: 275px;
    
}


@keyframes play {
    100% {background-position: -1800px;}
}
#div1{
    margin-left: calc(50% - 100px);
    width: 200px;
    height: 200px;
    border-radius: 100px;
    background: url('venus.jpg') left, center;
    animation-name: play; 
    animation-duration: 20s; 
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}
#div1:hover{
    margin-left: calc(50% - 150px);
    width: 250px;
    height: 250px;
    border-radius: 150px;
    -webkit-transition: margin-left width height border-radius 5s ease;
}
#div2{
    background-color: rgba(26, 26, 110, 0.6);
    border-style: outset;
    
}
p1{
    color: white;
}
