body {
    margin: 0;
    font-family: 'Roboto', sans-serif;  
}
#sect1{
    background-color: darkgreen;
    background-image: url("whidbey_mushroom.jpg");
    background-repeat: no-repeat;
    background-position: 55% 33%;
    background-size: 100%;
    height: auto;
    color: white;
    padding: 20px;
    text-align: center;
    position: relative;
}
@media screen and (max-width: 768px){
    body{
        font-size: 12px;
    }
    h3{
        font-size: 16px;
    }
}
textarea{
    resize: none; 
}
#sect2{
    background-color: white;
    color: black;
    margin: auto;
    text-align: center;
    position: relative;
}
#nameDiv, #radioDiv, #aboutDiv, #seasonDiv, #buttonDiv{
    height:auto;
    padding: 20px;
}
textarea::placeholder, input::placeholder{
    color: gray;
}
input:focus, select:focus, textarea:focus  {
    outline: none;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type="submit"]:hover {
    color: white;
    background: gray;
}

    